{% extends 'base.html' %}

{% block title %}Agregar Opción de Regalo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Agregar Nueva Opción de Regalo</h1>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'opciones_regalo' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
