{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-4 container-custom">
    <h1 class="text-center">¡Bienvenido al Intercambio Navideño 2024, {{ participante.usuario.username }}!</h1>
    
    <div class="text-center mt-5">
        <button class="btn btn-success" id="toggleAmigoSecreto">Mostrar Amigo Secreto</button>
        <div id="amigoSecretoInfo" class="mt-4" style="display:none;">
            <h2>Tu amigo secreto es: {{ amigo_secreto.usuario.username }}</h2>
            <div class="row mt-4">
                {% for regalo in amigo_secreto.regalo_set.all %}
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                    <div class="card w-100 mt-2 d-flex flex-column">
                        {% if regalo.imagen %}
                            <img src="{{ regalo.imagen.url }}" class="card-img-top" alt="{{ regalo.titulo }}" style="height: 200px; object-fit: cover;">
                        {% else %}
                            <img src="/media/regalos/default.jpeg" class="card-img-top" alt="Imagen por defecto" style="height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title text-center">{{ regalo.titulo }}</h5>
                            <a href="{% url 'ver_regalo' regalo.id %}" class="card-link">Ver detalles</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No hay opciones de regalo de tu amigo secreto aún.</p>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

<script>
    document.getElementById('toggleAmigoSecreto').addEventListener('click', function() {
        var info = document.getElementById('amigoSecretoInfo');
        var button = document.getElementById('toggleAmigoSecreto');
        if (info.style.display === 'none') {
            info.style.display = 'block';
            button.textContent = 'Ocultar Amigo Secreto';
        } else {
            info.style.display = 'none';
            button.textContent = 'Mostrar Amigo Secreto';
        }
    });
</script>
{% endblock %}
