{% extends 'base.html' %}

{% block title %}Detalles del Regalo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Detalles del Regalo</h1>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                {% if regalo.imagen %}
                    <img src="{{ regalo.imagen.url }}" class="card-img-top" alt="{{ regalo.titulo }}">
                {% else %}
                    <img src="/media/regalos/default.jpeg" class="card-img-top" alt="Imagen por defecto"> 
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ regalo.titulo }}</h5>
                    <p>{{ regalo.descripcion }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{{ regalo.enlace1 }}" class="btn btn-secondary">Enlace 1</a>
                        <a href="{{ regalo.enlace2 }}" class="btn btn-secondary">Enlace 2</a>
                        <a href="{{ regalo.enlace3 }}" class="btn btn-secondary">Enlace 3</a>
                    </div>
                    <a href="{% url 'opciones_regalo' %}" class="btn btn-primary mt-3">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
